services:
  - type: web
    name: no-commute
    env: node
    buildCommand: rm -rf .next && npm install && npm run build && cp -r lib .next/server/
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false

  - type: cron
    name: job-scraper
    env: node
    schedule: "0 */12 * * *"  # Every 12 hours
    buildCommand: cd scraper && npm install
    startCommand: cd scraper && node scraper.js
    envVars:
      - key: DATABASE_URL
        sync: false